/* custom.css */
.btn-page {
  color: white;
  border-color: white;
  background-color: #540e4fff; /* cor padrão */

  transition: background-color 0.3s ease;
}

.btn-page:hover {
  background-color: #f15bb5; /* cor ao passar o mouse */
  border-color: white;
  color: white;
}

.btn-selected {
  background-color: #9b5de5; /* cor ao passar o mouse */
  border-color: white;
  color: white;
}